body {
  height: 100%;
  width: 100%;
}

#background {
  height: inherit;
  width: inherit;
  opacity: 0.25;
  background-image: url("../../ui/images/vmug-people.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

#wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


/* index-wrapper */

#wrapper #index-wrapper {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper #index-wrapper select {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
}

#wrapper #index-wrapper button {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  font-size: 1em;
}


/* checkin-wrapper */

#wrapper #checkin-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#wrapper #checkin-wrapper select {
  width: 20em;
  height: 100px;
  text-align: center;
  font-size: 1em;
}

#wrapper #checkin-wrapper button {
  width: 10em;
  height: 100px;
  margin-left: 10px;
  font-size: 1em;
}

/* reprint-wrapper */

#wrapper #reprint-wrapper {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper #reprint-wrapper select {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
}

#wrapper #reprint-wrapper button {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  font-size: 1em;
}


/* admin-wrapper */

#wrapper #admin-wrapper {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#wrapper #admin-wrapper input[type='text'] {
  width: 100%;
  text-align: center;
}

#wrapper #admin-wrapper input[type="file"] {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

#wrapper #admin-wrapper button {
  width: 100%;
  height: 75px;
}

#wrapper #admin-wrapper div {
  width: 100%;
  text-align: center;
}

#wrapper #admin-wrapper label {
  padding-top: 5px;
}


/* register-wrapper */

#wrapper #register-wrapper {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper #register-wrapper label {
  padding-top: 5px;
}

#wrapper #register-wrapper input[type='text'] {
  width: 100%;
  margin-bottom: 15px;
}

#wrapper #register-wrapper button {
  width: 100%;
  height: 75px;
  margin-top: 25px;
}

#wrapper #register-wrapper .error {
  color: red;
}

#wrapper #register-wrapper #firstname-error,
#wrapper #register-wrapper #lastname-error,
#wrapper #register-wrapper #email-error,
#wrapper #register-wrapper #company-error {
  position: absolute;
  overflow: visible;
  padding-left: 5px;
}

#wrapper #register-wrapper #radio-buttons {
  width: 100%;
  text-align: center;
}

/* other */

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.center-title {
  width: inhert;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.form-inline {
  display: inline-flex;
}
